#title {
  font-size: 20px; 
}

#background-image {
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url('https://static.wixstatic.com/media/ffc1c7_c1bddacaa5e04528bc5ba7a382201454~mv2.jpg/v1/fill/w_502,h_604,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/DSC_6973_edited.jpg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute; 
}

#content {
  margin: 30px auto;
  width: 88%;
  height: 88%;
  border: 5px solid #000;
  border-radius: 15px;
  position: relative;
  background-color: white;
  text-align: center;
  overflow-y: auto;
}

#title1 {
  border-bottom: 3px solid black;
  text-align: center;
  font-size: min(2vw, 20px); 
}

#info-box {
  border-bottom: 3px solid black;
  width: 100%;
  position: relative;
  font-size: 2vw;
  margin: -2px auto;
}

#info-box:hover {
  background-color: lightblue;
}

#questions {
  text-align: left;
  padding: 2vw; /* Using vw for padding as well */
  font-size: 2vw; /* Adjust font size based on viewport width */
}

#name, #email, #age {
  width: 20vh;
  height: 3vh;
  margin: 3px;
  margin-top: -3px;
  font-size: 2vh;
}

#dropdown, #age {
  width: 10vh;
  height: 3vh;
}

#position, #practice-days {
  
  width: 65vh;
  height: 30vh;
  position: relative;
  margin: 10px;
}

#position label {
  display: block;
}

#submit {
  margin: 10px;
  background-color: grey;
  display: block;
  font-size: 3vh; 
}
#extra-thoughts {
  position: relative;
  width: 60vh;
  height: 20vh;
  border-bottom: 3px solid black;

}
